<h1>New Activity Sign Up</h1>

<%= form_for @signup do |f| %>

  <%= f.label :camper_id, :Camper %>
  <%= f.select :camper_id, @campers %>
  <br>

  <%= f.label :activity_id, :Activity %>
  <%= f.select :activity_id, @activities %>
  <br>

  <%= f.label :time %>
  <%= f.select :time, @time %>
  <br>

  <%= f.submit "Sign Up" %>
<% end %>

<p><%= link_to "cancel", activities_path %></p>
