<h1>New Camper Sign Up</h1>

<%= form_for @camper do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %>
  <br>

  <%= f.label :age %>
  <%= f.text_field :age %>
  <br>

  <%= f.submit "Sign Up" %>
<% end %>

<p><%= link_to "cancel", campers_path %></p>

<div class="errors">
  <% if flash[:errors] %>
    <p>Something is wrong</p>
    <% flash[:errors].each do |error| %>
      <li><%= error %></li>
    <% end %>
  <% end %>
</div>
