<h1><%= @camper.name %></h1>

<div class="camper_show_body">
  <h4>Age: <%= @camper.age %></h4>
  <ul>
    <% @camper.activities.each do |activity| %>
      <li><%= activity.name %></li>
    <% end %>
  </ul>
  <p><%= link_to "New activity", new_signup_path %></p>

</div>

<p><%= link_to "Back to Index", campers_path %></p>
